OPENWEATHER_API_KEY=sua_api_key
DB_HOST=postgres
DB_PORT=5432
DB_NAME=weather_db
DB_USER=pipeline_user
DB_PASSWORD=pipeline_pass
ALERT_EMAIL=insira_seu_email_destinatario
SMTP_USER=insira_seu_gmail
SMTP_PASSWORD=senha_de_app_16_chars
AIRFLOW_UID=1000